.box {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7%;
    margin: 50px auto;
    border: 2px solid #EFEFEF;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  button {
    padding: 0;
    background-color: transparent;
    border: none;
    /* cursor: pointer */
  }
  
  button:focus {
    outline: none;
  }
  
  button img {
    width: 25px;
  }

  /* quote button for copy text  */

  .wishing-color-primary {
    color: white;
  }